*/Intermediate
*/Build
*/Binaries
*/DerivedDataCache
*/Saved
*/Content/StarterContent/
*.VC.db
Unrl/FirstProj/Content/StarterContent/
Unrl/FirstProj/Intermediate/
Unrl/FirstProj/Saved/
Unrl/FirstProj/Binaries/
Unrl/FirstProj/Config/
Unrl/FirstProj/FirstProj.VC.VC.opendb
*.ipch
/Lux/Lux.vcxproj.user
/Lux/Lux.vcxproj.filters
/Lux/.vs/Lux/v15/Browse.VC.opendb
/Lux/.vs/Lux/v15/.suo
